<div>
  <button #setMinHeight (click)="minHeightTarget.style.minHeight = minHeigh.value + 'px'">
    Set Content1 height</button
  ><input #minHeigh type="number" value="500" (keypress)="$event.keyCode === 13 ? setMinHeight.click() : null"/><br />
  <br>
  <button (click)="addRows(rowsNumber.value)">Add rows</button
  ><input #rowsNumber type="number" value="10" /><br />
  <button (click)="rowData = []">Delete all dows</button><br />
  <br>
  <button (click)="minRowsToShow = minRowsNumber.value">Set MIN rows to show (current: {{minRowsToShow}})</button
    ><input #minRowsNumber type="number" value="{{minRowsToShow}}" /><br />

  <button (click)="maxRowsToShow = maxRowsNumber.value">Set MAX rows to show (current: {{maxRowsToShow}})</button
      ><input #maxRowsNumber type="number" value="{{maxRowsToShow}}" /><br />
  <button (click)="autoGrow = !autoGrow">{{ autoGrow ? 'Disable autogrow' : 'Enable autogrow'}}</button><br />
</div>
<div style="display: flex; flex-direction: row; flex: 1 1 auto; overflow: scroll;">
  <!-- Min table height, no max height-->
  <div style="display: flex; flex-direction: column; flex: 1 1 auto">
    <div
      style="
        display: flex;
        flex-direction: column;
        border: 3px red solid;
        box-sizing: border-box;
      "
    >
      <div
        #minHeightTarget
        style="
          min-height: 500px;
          background: border-box gray;
          box-sizing: border-box;
        "
      ></div>
    </div>
    <div style="flex: 1 1 0">
      <ag-grid-angular
        #agGrid
        [ngStyle]="{
          'min-height.px': getMinHeight(),
          'height': getHeight(),
          'max-height': getMaxHeight()
        }"
        class="ag-theme-alpine"
        [columnDefs]="columnDefs"
        [rowData]="rowData"
      >
      </ag-grid-angular>
    </div>
  </div>
  <div></div>
</div>
