@import "../../../../node_modules/@ag-grid-community/core/dist/styles/ag-grid.scss";
@import "../../../../node_modules/@ag-grid-community/core/dist/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";


:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}
